<a href="https://colab.research.google.com/github/EmilSeyfullayev/Credit_Risk_Modeling_in_Python/blob/main/General_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")

In [2]:
# data_backup = pd.read_csv("/content/drive/MyDrive/Credit Risk Modeling/loan_data_2007_2014.csv")
df = pd.read_csv("/content/drive/MyDrive/Credit Risk Modeling/loan_data_2007_2014.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
# df = data_backup.copy()

In [ ]:
df.head(3)

   Unnamed: 0       id  member_id  ...  inq_fi  total_cu_tl  inq_last_12m
0           0  1077501    1296599  ...     NaN          NaN           NaN
1           1  1077430    1314167  ...     NaN          NaN           NaN
2           2  1077175    1313524  ...     NaN          NaN           NaN

[3 rows x 75 columns]

In [5]:
df.describe(include='all')

           Unnamed: 0            id  ...  total_cu_tl  inq_last_12m
count   466285.000000  4.662850e+05  ...          0.0           0.0
unique            NaN           NaN  ...          NaN           NaN
top               NaN           NaN  ...          NaN           NaN
freq              NaN           NaN  ...          NaN           NaN
mean    233142.000000  1.307973e+07  ...          NaN           NaN
std     134605.029472  1.089371e+07  ...          NaN           NaN
min          0.000000  5.473400e+04  ...          NaN           NaN
25%     116571.000000  3.639987e+06  ...          NaN           NaN
50%     233142.000000  1.010790e+07  ...          NaN           NaN
75%     349713.000000  2.073121e+07  ...          NaN           NaN
max     466284.000000  3.809811e+07  ...          NaN           NaN

[11 rows x 75 columns]

In [6]:
len(df.columns)

75

In [7]:
# pd.set_option('display.min_rows', 200)
# pd.set_option('display.max_rows', 500)
nulls_count_by_column = pd.DataFrame(
  df.isnull().sum()  
).sort_values(0, ascending=False)

In [8]:
# variables which are all nulls
nulls_count_by_column[nulls_count_by_column[0]==len(df)].index

Index(['inq_last_12m', 'total_bal_il', 'dti_joint',
       'verification_status_joint', 'annual_inc_joint', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'il_util', 'open_rv_24m', 'total_cu_tl', 'inq_fi', 'max_bal_bc',
       'all_util', 'open_rv_12m'],
      dtype='object')

In [9]:
# variables which are not all nulls
not_null_column_names = list(nulls_count_by_column[nulls_count_by_column[0]!=len(df)].index)

In [10]:
# pd.set_option('display.max_rows', 10)
df = df[not_null_column_names]

In [13]:
def unique_count_in_every_column(data):

  column_names = data.columns
  count_of_uniques = []

  for column in column_names:
    count_of_uniques.append(len(data[column].unique()))

  final_table = pd.DataFrame({
      'column_names': column_names,
      'count_of_uniques': count_of_uniques
  })
  
  final_table = final_table.sort_values('count_of_uniques')

  return final_table

In [14]:
uniqe_count_by_column = unique_count_in_every_column(df)

In [15]:
uniqe_count_by_column

                   column_names  count_of_uniques
24                  policy_code                 1
23             application_type                 1
50          initial_list_status                 2
34                         term                 2
43                   pymnt_plan                 2
40          verification_status                 3
39               home_ownership                 6
19               acc_now_delinq                 7
37                        grade                 7
42                  loan_status                 9
12   collections_12_mths_ex_med                10
9                    emp_length                12
45                      purpose                14
16                  delinq_2yrs                25
18                      pub_rec                27
14               inq_last_6mths                29
38                    sub_grade                35
47                   addr_state                50
17                     open_acc                63
41                      issue_d                91
10                 last_pymnt_d                99
4                  next_pymnt_d               101
13           last_credit_pull_d               104
20                    total_acc               113
0        mths_since_last_record               124
3        mths_since_last_delinq               146
1   mths_since_last_major_derog               163
35                     int_rate               506
15             earliest_cr_line               665
46                     zip_code               888
11                   revol_util              1270
31                    loan_amnt              1352
32                  funded_amnt              1354
48                          dti              3997
29           total_rec_late_fee              5808
6                  tot_coll_amt              6322
33              funded_amnt_inv              9854
7              total_rev_hi_lim             14613
25      collection_recovery_fee             20275
28                   recoveries             22773
22                   annual_inc             31902
36                  installment             55622
49                    revol_bal             58142
21                        title             63100
2                          desc            124437
57                    out_prncp            135665
52                out_prncp_inv            141189
55              total_rec_prncp            172713
26              last_pymnt_amnt            198194
8                     emp_title            205476
5                   tot_cur_bal            220691
56                total_rec_int            270249
54              total_pymnt_inv            347659
53                  total_pymnt            351609
51                           id            466285
27                   Unnamed: 0            466285
44                          url            466285
30                    member_id            466285

In [17]:
# We have to drop also at least last three columns, because are unique, and not continous
# Also we will drop first two columns, because they have only one unique value
df['url'][0] # urls require signingin, so no beneficial info it does not contain

'https://www.lendingclub.com/browse/loanDetail.action?loan_id=1077501'

In [25]:
# here column names with last three column names dropped
working_column_names = list(uniqe_count_by_column['column_names'][2:-3])

In [26]:
df = df[working_column_names]

In [27]:
len(df.columns)

53