<a href="https://colab.research.google.com/github/EmilSeyfullayev/Credit_Risk_Modeling_in_Python/blob/main/Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")

In [ ]:
train = pd.read_csv('/content/drive/MyDrive/Credit Risk Modeling/train_features_selected.csv')
train.head()

   Unnamed: 0  grade:A  grade:B  ...  term: 36 months  term: 60 months  good_loan
0      161569        0        1  ...                1                0          1
1      287448        0        0  ...                0                1          0
2      410266        0        0  ...                1                0          0
3      453319        0        0  ...                0                1          1
4      287547        1        0  ...                1                0          1

[5 rows x 146 columns]

In [ ]:
test = pd.read_csv("/content/drive/MyDrive/Credit Risk Modeling/test_features_selected.csv")

In [ ]:
test.head()

   Unnamed: 0  grade:A  grade:B  ...  term: 36 months  term: 60 months  good_loan
0      362514        0        0  ...                0                1          1
1      288564        0        0  ...                0                1          1
2      213591        0        0  ...                1                0          1
3      263083        0        0  ...                0                1          1
4      165001        1        0  ...                1                0          1

[5 rows x 146 columns]

In [ ]:
test.columns == train.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [ ]:
test['good_loan'].isna().sum()

0

In [ ]:
#train.columns.values

reference_variables = [
'grade:G',
'verification_status:Verified',
'addr_state:NE_IA_NV_AL_NM',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'initial_list_status:f',
'term: 60 months',
'emp_length:0',
'since_issue_date:>=142.1',
'interest_rate:>20.281',
'earl_cr_line:>=437',
'delinq_2yrs:>=12',
'inq_last_6mths:>6',
'open_acc:0',
'pub_rec:0',
'total_acc:<=3',
'acc_now_delinq:0',
'total_rev_hi_lim:<=5K',
'annual_inc:<20K',
'dti:>35',
'mths_since_last_delinq:0-3',
'mths_since_last_rec:0-2'
]

In [ ]:
train.drop(reference_variables, axis=1, inplace=True)
test.drop(reference_variables, axis=1, inplace=True)

### Modeling

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [ ]:
train.drop('Unnamed: 0', axis=1, inplace=True)
test.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
train.head(1)

   grade:A  grade:B  ...  term: 36 months  good_loan
0        0        1  ...                1          1

[1 rows x 124 columns]

In [ ]:
X_train = train.drop('good_loan', axis=1)
y_train = train['good_loan']
X_test = train.drop('good_loan', axis=1)
y_test = train['good_loan']

In [ ]:
lg = LogisticRegression()

In [ ]:
lg.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [ ]:
predictions = lg.predict(X_test)

In [ ]:
metrics.accuracy_score(y_test, predictions)

0.9032361320060177

In [ ]:
metrics.roc_auc_score(y_test, )

0.5003544306183602