<a href="https://colab.research.google.com/github/EmilSeyfullayev/Credit_Risk_Modeling_in_Python/blob/main/Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")

In [3]:
train = pd.read_csv('/content/drive/MyDrive/Credit Risk Modeling/train_features_selected.csv')
train.head()

   Unnamed: 0  grade:A  grade:B  ...  term: 36 months  term: 60 months  good_loan
0      161569        0        1  ...                1                0          1
1      287448        0        0  ...                0                1          0
2      410266        0        0  ...                1                0          0
3      453319        0        0  ...                0                1          1
4      287547        1        0  ...                1                0          1

[5 rows x 146 columns]

In [4]:
test = pd.read_csv("/content/drive/MyDrive/Credit Risk Modeling/test_features_selected.csv")

In [5]:
test.head()

   Unnamed: 0  grade:A  grade:B  ...  term: 36 months  term: 60 months  good_loan
0      362514        0        0  ...                0                1          1
1      288564        0        0  ...                0                1          1
2      213591        0        0  ...                1                0          1
3      263083        0        0  ...                0                1          1
4      165001        1        0  ...                1                0          1

[5 rows x 146 columns]

In [6]:
test.columns == train.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [7]:
test['good_loan'].isna().sum()

0

In [8]:
#train.columns.values

reference_variables = [
'grade:G',
'verification_status:Verified',
'addr_state:NE_IA_NV_AL_NM',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'initial_list_status:f',
'term: 60 months',
'emp_length:0',
'since_issue_date:>=142.1',
'interest_rate:>20.281',
'earl_cr_line:>=437',
'delinq_2yrs:>=12',
'inq_last_6mths:>6',
'open_acc:0',
'pub_rec:0',
'total_acc:<=3',
'acc_now_delinq:0',
'total_rev_hi_lim:<=5K',
'annual_inc:<20K',
'dti:>35',
'mths_since_last_delinq:0-3',
'mths_since_last_rec:0-2'
]

In [12]:
test.drop(reference_variables, axis=1)

        Unnamed: 0  grade:A  ...  term: 36 months  good_loan
0           362514        0  ...                0          1
1           288564        0  ...                0          1
2           213591        0  ...                1          1
3           263083        0  ...                0          1
4           165001        1  ...                1          1
...            ...      ...  ...              ...        ...
153870        2587        0  ...                1          1
153871      185134        0  ...                1          1
153872      412698        1  ...                1          1
153873      161401        0  ...                1          1
153874      298907        0  ...                1          1

[153875 rows x 125 columns]